@font-face {
  font-family: 'TVSans';

  src: url('../fonts/tv_sans.eot'),
    url('../fonts/tv_sans.woff') format('woff'),
    url('../fonts/tv_sans.ttf') format('truetype'),
    url('../fonts/tv_sans.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
