.site {
  font-family: $font-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.h1__header {
  font-family: $font-ct;
  font-size: 1.375rem;

  @media (min-width: 768px) {
    font-size: 1.875rem     ;
  }

  @media (min-width: 1200px) {
    font-size: 3rem     ;
  }
}


.h2--section {
  color: $color-primary;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 2rem;
}


.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.flex-center {
  justify-content: center;
  text-align: center;
}

.thanks {
  color:$color-primary;
  text-align: center;

  .flex-center {
    margin-bottom: 3rem;
  }
}
