.btn {
  padding: 1rem;
  cursor: pointer;
  border-radius: $border-radius;
  text-decoration: none;
  display: inline-block;

  &--submit{
    background-color: #1d2a60;
    color: #FFF;

    position: relative;
    transition: background-color .2s ease;

    &.has-icon {
      padding-right: 4em;
    }

    &:hover {
      background-color: #324284
    }

    &:focus {
      outline: none;
    }

    .round-icon {
      right: 1rem;
      left: auto;
      background-size: 60%;
      background-position-x: 0.3125em;
      background-position-y: center;
    }
  }
}
