.custom-checkbox {
  position: relative;
  margin-bottom: 1.5rem;

  @media (min-width:1024px) {
    margin-bottom: 1rem;
  }


  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
    color: #757575;
    display: block;

    &:hover {
      color: #000;
    }

    & + input#input-others {
      margin-top: 1rem;
    }
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.5em; height: 1.5em;
    border: 1px solid #818fb2;
    background: #fff;
    border-radius: $border-radius;
    transition: all .2s ease;
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    @extend .svg-icon-check;
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.5em; height: 1.5em;
    border: 1px solid #FFF;
    background-color: #818fb2;
    border-radius: $border-radius;
    background-size: 70%;
    background-position-x: center;
    background-position-y: center;
    transition: all .2s ease;

  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(.8);
  }
  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #c2c2c2;
    background-color: #f5f5f5;
  }
  [type="checkbox"]:disabled:not(:checked):hover,
  [type="checkbox"]:disabled:checked:hover {
    & + label {
        color: #757575;
      &:before {
        border-color: #c2c2c2 !important;
      }
    }
  }

  [type="checkbox"]:disabled + label {
    color: #757575;;

    &:after {
      color: #999;
    }
  }

  /* hover style just for information */
  label:hover:before {
    border-color: rgba(0, 0, 0, 1) !important;
  }
}

.input-text {
  border-radius: $border-radius;
  border: 1px solid #818fb2;
  padding: 1em;
  width: 100%;
  transition: border-color .3s ease;

  &:focus {
    outline: none;
    border: 2px solid #3b446e;
    padding:0.9375em;

  }
}


.textfield-set {
  margin-bottom: 1rem;

  &.flex {
    align-items: center;
  }

  .number {
    padding-left: 1rem ;
    padding-right: 1rem;

    @media (min-width:479px) {
      padding-left: 2rem ;
      padding-right: 3rem;
    }
  }
}
