.site-wrapper {
  background: url(../images/header-bg.jpg);
  background-size: 2200px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0px;

  flex:1;

  @media (min-width:400px) {
    background-position-y: -50px;
  }
  @media (min-width:479px) {
    background-position-y: -140px;
  }


}

.thanks .site-wrapper {
  background-position-y: -150px;

  @media (min-width:400px) {
    background-position-y: -200px;
  }
}

.section {
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  #form-section-1 .row.form {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width:1200px) {
  #form-section-1 {
    background: url(../images/cloud-1.jpg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-size: 20%;
  }

  #form-section-2 {
    background: url(../images/cloud-2.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 20%;
  }

  #form-section-3 {
    background: url(../images/cloud-31.jpg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-size: 20%;
  }
}
