.ct-logo {
  padding: 1rem 0;
  text-align: center;

  &__img {
    overflow: auto;


    img {
      width: 111px;
    }
  };
}

.site-header {
  text-align: center;
  color: #FFF;
  padding-top: 1.375rem;
  margin-bottom: 7rem;
}
